@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  ::-webkit-scrollbar-corner {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Hide vertical scrollbar */
::-webkit-scrollbar {
  height: 7px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: none; /* Color of the track */
}

/* Handle */

@media (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(40, 103, 250);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(72, 48, 252);
  }
  /* Scrollbar styles for dark mode */
  html.dark ::-webkit-scrollbar-thumb {
    background: rgb(92, 0, 173); /* Color of the handle in dark mode */
    border-radius: 6px;
  }

  /* Handle on hover for dark mode */
  html.dark ::-webkit-scrollbar-thumb:hover {
    background: rgb(67, 2, 124); /* Color of the handle on hover in dark mode */
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**                                                                   Carusel                                                      */
.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.scroller {
  padding-block: 2rem;
  max-width: 100%;
}

.scroller__inner {
  display: flex;
  gap: 0.5rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
@keyframes scroller {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroller var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"] .scroller__inner:hover {
  animation-play-state: paused;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.map-container {
  width: 100%;
  height: 100%;
}
